       body {
            background-image: url(https://timeweb.com/media/articles/0001/08/thumb_7309_articles_standart.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20%;
        }

        .div a input {
            background-color: antiquewhite;
            width: 200px;
            height: 50px;
            border-radius: 15px;
            font-size: 20px;
            font-weight: bold;
            margin-right: 15px;
        }

        .div a input:hover {
            background-color: darkgreen;
        }

        .div a input:active {
            background-color: blue;
        }
        p {
            display: flex;
            justify-content: center;
            color: red;
        }
        button {
            background-color: ghostwhite;
            border-radius: 7px;
        }
        button a {
            text-decoration: none;
            color: black;
        }
        button:hover {
            background-color: darkgreen;
        }
        button:active {
            background-color: blue;
        }
        .div1 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }