         body {
            background-image: url(https://timeweb.com/media/articles/0001/08/thumb_7309_articles_standart.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
         p {
             display: flex;
             justify-content: center;
             color: orange;
         }
         div {
             margin-top: 20%;
         }
        h2{

            display: flex;
            justify-content: center;
        }
        a {
            color: white;
        }
        a:hover {
            color: grey;
        }
        a:active {
            color: cornflowerblue;
        }