        body {
            background-image: url(https://timeweb.com/media/articles/0001/08/thumb_7309_articles_standart.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .mb-3 {
            margin-top: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .mb-3 input {
            display: block;
            margin-bottom: 10px;
            border-radius: 10px;

        }

        .sub {
            background-color: grey;
        }

        .sub:hover {
            background-color: darkgreen;
        }

        .sub:active {
            background-color: blue;
        }
        .inp_file {
            background: snow;
        }


