{% extends 'index.html' %}

{% block title %}
    <title>заметки</title>
{% endblock %}
{% block style %}
    <style>
        body {
            background-image: url(https://timeweb.com/media/articles/0001/08/thumb_7309_articles_standart.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        table {
            border-spacing: 0 10px;
            background-color: antiquewhite;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }

        td {
            padding: 10px;
            font-size: 14px;
            border-top: 2px solid #56433D;
            border-bottom: 2px solid #56433D;
            border-right: 2px solid #56433D;
        }

        th {
            padding: 10px 20px;
            background: #56433D;
            color: #F9C941;
            border-right: 2px solid;
            font-size: 0.9em;
        }

        .fields {
            text-align: center;
            background: grey;
        }
        .div_add {
            border: 2px solid;
            width: 200px;
        }

        .div_add:hover {
            background-color: darkgreen;
        }

        .div_add:active {
            background-color: blue;
        }

        .link_edit {
            text-decoration: none;
        }

        .link_edit:hover {
            color: red;
        }

        .link_edit:active {
            color: black;
        }

        .link_add {
            font-size: 20px;
            color: black;
            text-decoration: none;
        }

        .div_add {
            width: 300px;
            background-color: darkgrey;
            text-align: center;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 40%;
        }
    </style>
{% endblock %}
{% block content %}
    <br>
    <table>
        <thead>
        <tr class="fields">
            <th>название</th>
            <th>содержание</th>
            <th>выбор</th>
        </tr>
        </thead>
        <tbody>
        {% for i in data %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.content }}</td>
                <td class="link_a">
                    <a class="link_edit" href="/edit/{{ i.id }}"><span>изменить</span></a><br>
                    <a class="link_edit" href="/delete/{{ i.id }}"><span>удалить</span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <p class="div_add">
        <a class="link_add" href="http://127.0.0.1:8000/notes/">новая заметка</a>
    </p>
    <p class="div_add">
        <a class="link_add" href="http://127.0.0.1:8000/user_account/">личный кабинет</a>
    </p>
{% endblock %}