<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>личный кабинет</title>
    <link rel="stylesheet" href="{% static "css/styles_user_account.css" %}">
</head>
<body>
<p>{{ user }}</p>
<p>{{ login }}</p>

<div>
    <h2 class="notes"><a href="http://127.0.0.1:8000/show">Notes</a></h2>
    <h2><a href="https://www.google.ru/">Google</a></h2>
    <h2><a href="https://www.youtube.com/">Youtube</a></h2>
    <h2><a href="https://www.onliner.by/">Onliner</a></h2>
</div>

</body>
</html>
